
bank job.rar
bank job/i.html
bank job/i.js
bank job/index.html
bank job/new.js
challenge/calc.js
challenge/index.html
challenge/style.css
domain/index.html
exp-website/
express/package.json
game/canvas.js
game/game.css
game/index.html
india-covid-19-tracker/
meg/mystyles.css
phone price/index.html
sasindaran.github.io/
sasindaran/
vcard/about.html
vcard/contact.html
vcard/education.html
vcard/experience.html
vcard/images/download.png
vcard/images/edu_1.png
vcard/images/edu_2.png
vcard/images/edu_3.png
vcard/images/icon_1.png
vcard/images/icon_10.png
vcard/images/icon_11.png
vcard/images/icon_12.png
vcard/images/icon_13.png
vcard/images/icon_14.png
vcard/images/icon_15.png
vcard/images/icon_2.png
vcard/images/icon_3.png
vcard/images/icon_4.png
vcard/images/icon_5.png
vcard/images/icon_6.png
vcard/images/icon_7.png
vcard/images/icon_8.png
vcard/images/icon_9.png
vcard/images/portfolio_1.jpg
vcard/images/portfolio_2.jpg
vcard/images/portfolio_3.jpg
vcard/images/portfolio_4.jpg
vcard/images/portfolio_5.jpg
vcard/images/portfolio_6.jpg
vcard/images/smith.jpg
vcard/images/test_1.jpg
vcard/images/test_2.jpg
vcard/images/test_3.jpg
vcard/js/contact.js
vcard/js/custom.js
vcard/js/education.js
vcard/js/experience.js
vcard/js/jquery-3.2.1.min.js
vcard/js/portfolio.js
vcard/js/services.js
vcard/js/skills.js
vcard/js/testimonials.js
vcard/plugins/easing/easing.js
vcard/plugins/font-awesome-4.7.0/css/font-awesome.css
vcard/plugins/font-awesome-4.7.0/css/font-awesome.min.css
vcard/plugins/font-awesome-4.7.0/fonts/fontawesome-webfont.eot
vcard/plugins/font-awesome-4.7.0/fonts/fontawesome-webfont.svg
vcard/plugins/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf
vcard/plugins/font-awesome-4.7.0/fonts/fontawesome-webfont.woff
vcard/plugins/font-awesome-4.7.0/fonts/fontawesome-webfont.woff2
vcard/plugins/font-awesome-4.7.0/fonts/FontAwesome.otf
vcard/plugins/font-awesome-4.7.0/HELP-US-OUT.txt
vcard/plugins/font-awesome-4.7.0/less/animated.less
vcard/plugins/font-awesome-4.7.0/less/bordered-pulled.less
vcard/plugins/font-awesome-4.7.0/less/core.less
vcard/plugins/font-awesome-4.7.0/less/fixed-width.less
vcard/plugins/font-awesome-4.7.0/less/font-awesome.less
vcard/plugins/font-awesome-4.7.0/less/icons.less
vcard/plugins/font-awesome-4.7.0/less/larger.less
vcard/plugins/font-awesome-4.7.0/less/list.less
vcard/plugins/font-awesome-4.7.0/less/mixins.less
vcard/plugins/font-awesome-4.7.0/less/path.less
vcard/plugins/font-awesome-4.7.0/less/rotated-flipped.less
vcard/plugins/font-awesome-4.7.0/less/screen-reader.less
vcard/plugins/font-awesome-4.7.0/less/stacked.less
vcard/plugins/font-awesome-4.7.0/less/variables.less
vcard/plugins/font-awesome-4.7.0/scss/_animated.scss
vcard/plugins/font-awesome-4.7.0/scss/_bordered-pulled.scss
vcard/plugins/font-awesome-4.7.0/scss/_core.scss
vcard/plugins/font-awesome-4.7.0/scss/_fixed-width.scss
vcard/plugins/font-awesome-4.7.0/scss/_icons.scss
vcard/plugins/font-awesome-4.7.0/scss/_larger.scss
vcard/plugins/font-awesome-4.7.0/scss/_list.scss
vcard/plugins/font-awesome-4.7.0/scss/_mixins.scss
vcard/plugins/font-awesome-4.7.0/scss/_path.scss
vcard/plugins/font-awesome-4.7.0/scss/_rotated-flipped.scss
vcard/plugins/font-awesome-4.7.0/scss/_screen-reader.scss
vcard/plugins/font-awesome-4.7.0/scss/_stacked.scss
vcard/plugins/font-awesome-4.7.0/scss/_variables.scss
vcard/plugins/font-awesome-4.7.0/scss/font-awesome.scss
vcard/plugins/greensock/animation.gsap.min.js
vcard/plugins/greensock/ScrollToPlugin.min.js
vcard/plugins/greensock/TimelineMax.min.js
vcard/plugins/greensock/TweenMax.min.js
vcard/plugins/Isotope/fitcolumns.js
vcard/plugins/Isotope/isotope.pkgd.min.js
vcard/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css
vcard/plugins/mCustomScrollbar/jquery.mCustomScrollbar.js
vcard/plugins/OwlCarousel2-2.2.1/ajax-loader.gif
vcard/plugins/OwlCarousel2-2.2.1/animate.css
vcard/plugins/OwlCarousel2-2.2.1/owl.carousel.css
vcard/plugins/OwlCarousel2-2.2.1/owl.carousel.js
vcard/plugins/OwlCarousel2-2.2.1/owl.theme.default.css
vcard/plugins/OwlCarousel2-2.2.1/owl.video.play.png
vcard/plugins/parallax-js-master/parallax.min.js
vcard/plugins/progressbar/progressbar.js
vcard/plugins/progressbar/progressbar.min.js
vcard/plugins/scrollmagic/ScrollMagic.min.js
vcard/portfolio.html
vcard/services.html
vcard/skills.html
vcard/styles/bootstrap-4.1.2/bootstrap.min.css
vcard/styles/bootstrap-4.1.2/bootstrap.min.js
vcard/styles/bootstrap-4.1.2/popper.js
vcard/styles/contact.css
vcard/styles/contact_responsive.css
vcard/styles/education.css
vcard/styles/education_responsive.css
vcard/styles/experience.css
vcard/styles/experience_responsive.css
vcard/styles/main_styles.css
vcard/styles/portfolio.css
vcard/styles/portfolio_responsive.css
vcard/styles/responsive.css
vcard/styles/services.css
vcard/styles/services_responsive.css
vcard/styles/skills.css
vcard/styles/skills_responsive.css
vcard/styles/testimonials.css
vcard/styles/testimonials_responsive.css
vcard/testimonials.html
web-dev-starter/
