#heading{
    background-color: #3b4e87;
     color: white;
}

#content{
    background-color: #f1f1f1
}

body{
    background-color: black;
}

.display{
    display: none;
}

#copy{
    color:#3b4e87;
}