
#heading{
    background-color: #3b4e87;
     color: white;
}
#content{
    margin-top: 5px;
}

body{
    background-color: black;
}

.display{
    display: none;
}

#copy{
    color:#3b4e87;
}

input
{
 width:200px;
}
#cag{
    background-color: white; border-color: black; color: green; height: 30px;
}